<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/board-mapping.xml"/>
		<mapper resource="mappings/market-mapping.xml"/>
		<mapper resource="mappings/orderlist-mapping.xml"/>
		<mapper resource="mappings/usermember-mapping.xml"/>
		<mapper resource="mappings/menu-mapping.xml"/>
		<mapper resource="mappings/market_admin_member-mapping.xml"/>
		<mapper resource="mappings/market_admin_member-mapping2.xml"/>
		<mapper resource="mappings/faq-mapping.xml"/>
		<mapper resource="mappings/member-mapping.xml"/>
		<mapper resource="mappings/faqview-mapping.xml"/>
		<mapper resource="mappings/adminmember-mapping.xml"/>
		<mapper resource="mappings/adminmember-login-mapping.xml"/>
		<mapper resource="mappings/admin-banner.xml"/>
		<mapper resource="mappings/coupon-mapping.xml"/>
		<mapper resource="mappings/terms-mapping.xml"/>
		<mapper resource="mappings/goods-mapping.xml"/>
		<mapper resource="mappings/map-mapping.xml"/>
	</mappers>
</configuration>
