<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.damino.web.user.login.UserVO" alias="user"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/board-mapping.xml"/>
		<mapper resource="mappings/market-mapping.xml"/>
		<mapper resource="mappings/orderlist-mapping.xml"/>
		<mapper resource="mappings/usermember-mapping.xml"/>
		<mapper resource="mappings/menu-mapping.xml"/>
		<mapper resource="mappings/seeuser-mapping.xml"/>
	</mappers>
</configuration>
