@charset "utf-8";
th{
	text-align: center;
}

td.center-group{
	text-align: center;
}
#qna-select-btn{
	display: inline-block;
	float:right;
}
#qna-insert-btn{
	display: inline-block;
}
.insert-menu-btns{
	display: flex;
	justify-content: center;
	align-items: center;
}
.for-margin-height-div{
	height: 10px;
}

.form-control-osh {
  display: inline-block;
  width: 65%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-osh-qna-insert {
  display: inline-block;
  width: 30%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}